body {
	background-color: grey;
	font-family: Helvetica;
}

div{
width: 50%;
display: flex;
margin: 25%;
padding: 15px;
border: 2px solid black;
}

form {
width: 100%;

display: flex;
flex-direction: column;
}


textarea {

height: 100px
}
